.home-section {
    padding:50px;
    width:60%;
    margin: 0 auto;
}

.home-section-title {
    margin-bottom:0;
}

.home-section.right {
    display:flex;
    align-items: center;
}

.home-section.left {
    display:flex;
    align-items: center;
}

.home-section-info.right {
    float:left;
    width:60%;
    text-align: left;
}

.home-section-image.right {
    margin: auto;
    width:30%;
    box-shadow: 1px 1px 2px;
}

.home-section-info.left {
    margin: auto;
    width:60%;
    text-align: right;
}

.home-section-image.left {
    float:left;
    width:30%;
    box-shadow: 1px 1px 2px;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
}

.home-banner {
    width:60%;
    margin: 0 auto;
    display:block;
}

.searchbar-container
{
    border-radius: 20px;
    width:60%;
    padding-top:20px;
    padding-bottom:20px;
    margin: 0 auto;
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    background-color: #ff9029;
}

.search-header {
    color:white;
    margin: 0;
    float:left;
    margin-left:40px;
    font-size:23px;
}

.searchbar
{
    border:0;
    border-radius:10px;
    font-size: 20px;
    margin-right:20px;
    float:right;
    height:35px;
    width:40%;
}

.home-section2
{
    margin: 0 auto;
    width:60%;
}

.home-section2-img
{
    border-radius: 10px;
    width:40%;
    float:left;
    margin-right:30px;
}

.home-intro
{
    margin:20px;
}

@media only screen and (max-width: 800px) {
    .home-banner {
        width:100%;
    }
}

@media only screen and (max-width: 995px) {

    .searchbar-container {
        text-align:center;
    }

    .search-header {
      width:100%;
      margin:0 auto;
      margin-bottom:20px;
    }

    .searchbar {
        margin:0 auto;
        float: none;
        width:80%;
    }
}